<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"><head>
  <link rel="stylesheet" th:href="@{/css/dashboard/dashboard.css}">
  <meta charset="UTF-8">
  <title>상품 아이템 목록</title>
</head>
<body>
<main layout:fragment="content">
  <h1>상품 아이템 목록</h1>
  <div class="item-grid">
    <div class="item-card" th:each="item : ${items}">
      <a th:href="@{/items/{id}(id=${item.id})}">
<!--        <div class="item-thumbnail">-->
<!--          <img th:src="${item.imageUrl}" alt="상품 이미지">-->
<!--        </div>-->
        <div class="item-info">
          <p class="item-name" th:text="${item.name}"></p>
        </div>
      </a>
    </div>
  </div>
</main>
</body>
</html>